@import 'src/styles/colors.scss';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

* {
  -webkit-overflow-scrolling: touch;
}

.body {
  height: 100%;
  //flex-flow: column;
  //display: flex;
  margin-left: 160px; /* Same as the width of the sidebar */
  //padding: 0px 10px;
}

.container {
  width: 100%;
  padding: 0 1rem 0 1rem;
}

.container-wide {
  width: 100%;
  max-width: 76rem;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
}

.container-medium {
  width: 100%;
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
}

.container-narrow {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
}

.header {
  background-color: $almostWhite;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  z-index: 99;
}

.form {
  &__title {
    font-size: 2rem;
    color: $primary;
  }

  &__subtitle {
    font-size: 1rem;
    color: $grey;
    margin-top: 1rem;
  }

  &__submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  &__subtext {
    margin: 2rem 0;
    color: $darkGrey;
  }
}

.hide-sm {
}

.show-sm {
  display: none;
}

@media screen and (max-width: 30em) {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: block;
  }
}
