$white: #ffffff;
$almostWhite: #f1f1f1;
$lighterGrey: #e0e0e0;
$lightGrey: #bbbbbb;
$grey: #979797;
$mediumGrey: #6a6a6a;
$darkGrey: #3b3b3b;
$almostBlack: #1a1a1a;
$darkBlue: #0b2243;

//Color palettes
$primary: #aa0000;
$primaryDark: #0b2243;
$secondary: #453460;
$accent1: #ff6968;
$accent2: $almostBlack;
$accent3: $almostBlack;

//UI colors
$alertRed: #ff4949;
$cautionYellow: #f18100;
$successGreen: #13c366;
