.webcam {

  &__cam {
    position: relative;
    padding: 0 1rem 0 1rem;

    &__close {
      position: absolute;
      left: 0;
      top: 1rem;
      z-index: 99;
    }
  }

  &__controls {
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
  }
}